-#  This file is app/views/game/show.html.haml

%h1 Play the Game

%div{:id => "board"}
  %p{:id => "word"}= @word

  -if !@gameover
    %p{:id => "guesses"}= "Incorrect Guesses: #{@wrong_guesses}"
    %p{:id => "remaining"}= "#{@remaining} left"

    = form_tag game_path(@id), :method => :put do
      = text_field_tag "guess", ""
      = submit_tag "Submit", :class => "btn"
    %br
    = button_to 'Surrender', give_up_path, :class => 'btn', :method => :get

  -else
    = button_to 'New Game', new_game_path, :class => 'btn', :method => :get
