!!! 5
%html
  %head
    %title Hangman
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    %div{:id=>"container"}
      %div{:id=>"sidebar"} 
        %div{:id => "sidebarLinks"}
          = link_to 'Home', root_path
          %br
          - if user_signed_in?
            = link_to "#{current_user.email}", edit_user_registration_path
            %br
            = link_to " Logout", destroy_user_session_path, :method => :delete
          - else
            = link_to "Signup", new_user_registration_path
            %br
            = link_to " Login", new_user_session_path
      #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        - elsif flash[:alert]
          #alert.message= flash[:alert]
  
        = yield
